:host{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.forgotpasswordform{
   
    flex-direction: column;
    border: 0 solid blue;
    border-radius: 10px;
    background-color: pink;
    margin: 0 auto;
    padding: 10px;
    padding-top: 100px;
    /* padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px; */ 
    height: 50vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.forgotpasswordform button[type="submit"]{
 
    margin-bottom: 5px;
    padding: 5px;
    border: 0 solid #28015e;
    border-radius: 5px;
    color: blue;

}